
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: white;

}
.header{
  background-color: #fff;
  padding-bottom: 1%;
  color: rgb(45, 44, 44);
  margin: auto;
}
.header{
  margin-top: 5%;
  margin-left: 4%;
}

.header > p {

  font-size: 0.6rem;
  color: rgb(83, 83, 83);
}

.intro
{
  color: rgb(45, 44, 44);
}

.intro > h2{
  margin-left: 4%;
}

.intro > button{
  color: white;
  background-color: #E91E63;
}

button:hover{
  transform: translateY(-1px);
  background-color: #c91853;
  border-color :#c91853;
}
.intro > h1{
  font-size: 1.5rem;
}
.form-buttons{
  display: flex;
justify-content: space-around;
}
.ws-buttons > button{
  width: 40%;
  font-size: 1rem;

}
.ws-buttons{
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 40%;

}



.spacer-main{
  margin: auto;
}

input{
  border-style: solid;
  border-color: lightgrey;
}

.diff-labels{
  display: flex;
  margin-bottom: 1%;

}
input[type=radio] {
	appearance: none;
  background-color: #fff;
  margin: 0;
	font: inherit;
  color: #E91E63;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
	display: grid;
  place-content: center;
	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		border-radius: 50%;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #E91E63;
		background-color: CanvasText;
		transform-origin: top bottom;
	}
	&:checked::before {
		transform: scale(1);
	}
}
.word-count-label{
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  align-items: start;

}
.word-title-label{

  display: flex;
  flex-direction: column;
  align-items: start;

}
h2{
  font-size: 1.5rem;
  font-weight: 600;
}
.word-count-label > p
{
  font-size: 1rem;
  font-weight: 400;
}


#submit-num{
  
  border: none;
  color: white;
  background-color: #005CC8;
  font-size: 2rem;
}

.num-words{
  text-align: center;
  border-style: solid;
  width: 20%;
  margin-top: 2%;
  font-size: 5rem;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .05em solid #E91E63;
    background: rgba(#E91E63, .2);
    padding: .01em;
    color: #E91E63;
  
}
.submit-words{
  background-color: white;
  color: black;
  padding: 10%;
  animation: slideDown 0.5s ease forwards;

}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#win-screen{
  position: fixed;
  top: -100%;
  padding: 5%;
  width: 60%;
  left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;

  
  
  background-color: #07657c;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));


}
@keyframes slideDownMid {
  0% {
    top: -100%;
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
.slide-down {
  animation: slideDownMid 0.5s ease forwards;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.enter-text{
  margin-top: 0;
  margin-bottom: 4%;
  font-weight: 50;
  font-size: .9rem;
}

.text-box{
  display: flex;

  text-align: center;

}

.world-label{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.text-boxes{
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 50%);
  padding-bottom: 10%;
  gap: 1em;
  
}
input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid #E91E63;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: #E91E63;
}
input[type="text"]:focus {
  background-color: #dfdede;
}


.difficulty-radio{
  padding: 5%;

}
.difficulty{
  margin-top: 3%;
  padding-left: 4%;
  padding-top: 3%;
  background-color: #f0efef;
}



.displayed-word-search{
  padding-bottom: 2%;
  margin: auto;
}

#diff-label{
  font-weight: 400;
  font-size: 1rem;
}

.word-label{
  display: flex;
  flex-direction: column;
}

.letter{
  border: none;
  margin: 10px;
  font-size: 1.5rem;
  background-color: white;


}

.letter:hover{
  transform: translateY(-1px);
  text-shadow: gray 1px 0 10px;}
.create-word-search{

	border: .2em solid #E91E63;
	background: #E91E63;
	padding: .85em 1.5em;
	color: #ffffff;
	border-radius: 2em;
	transition: .5s;

}
.wrd-srch-btn{
  display: flex;
  justify-content: space-evenly;

  padding-bottom: 3%;
}
.alt-btn{
  align-items: center;
  border: none;
	background: blue;
	padding: .85em 1.5em;
	color: #ffffff;
	border-radius: 2em;
	transition: .5s;
}

.alt-btn:hover{
  transform: translateY(1px);
  background:#005CC8;
}

.create-word-search:hover,
.create-word-search:focus,
.create-word-search:active {
  
		background-color: #E91E63;
		color: #fff;
	
}

.word-comp{
  font-size: .8rem;
  font-weight: 100;

}

#word-checklist{
  
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 25%);
  width: 60%;
  text-align: center;
}

.footer{
  text-align: center;
  margin-bottom: 2%;
  margin-top: 7%;
  color: black;
}

.title-prompt{
  background-color: #f0efef;
  color: rgb(27, 27, 27);
  padding: 1%;
  padding-bottom: 3%;
  padding-left: 4%;


}

.word-title{
  border-style: solid;
  width: 20%;
  background-color: #f0efef;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #E91E63;
    background: rgba(#E91E63, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #E91E63;
    
  
}
.word-title:focus{
  background-color: rgba(214, 214, 214, 0.848);
}

.num-words:focus{
  background-color: rgba(214, 214, 214, 0.848);
  border-radius: 6px;
}
@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  letter{
    font-size: auto;
  }
  #word-checklist{
  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 50%);
    width: 60%;
    text-align: center;
  }
}
.top-text{
  margin: auto;

}

.word-search-proper{

  background-color: white;
  padding-bottom: 10%;
  color: black;
  margin-top: 2%;
  
}
.wrd-srch-title{

  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}



